<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.EdocManagement.dao.edoc_categoryMapper">

    <select id="CountEdoc_category" resultType="edoc_category">
        select *  from edoc_category
    </select>

</mapper>
